<div [ngClass] = "setClasses()" class="col-3">
    <div class="col-xs-3">
        <div class="mb-3 justify-content-center">
            <div class="pb-0 justify-content-center">
                <br><h2>{{repositoryInput.name}}</h2>
                <p>{{repositoryInput.description}}</p>
                <a href="{{repositoryInput.html_url}}" target="_blank"><input type="button"  class="col-12 btn-primary" value="Visit repository page on GitHub"></a>
                <div class="row">
                    <div class="col-md-4 ">
                        <p class="numbers">Forks</p>
                        {{repositoryInput.forks}}
                    </div>
                    <div class="col-md-4">
                        <p class="numbers">Open issues</p>
                        {{repositoryInput.open_issues}}
                    </div>
                    <div class="col-md-4">
                        <p class="numbers">Watchers</p>
                        {{repositoryInput.watchers}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
