<div>
    <h1>Git users</h1>
    <div class="album">
        <div class="row">
            <app-user-item
                *ngFor="let user of users | paginate: { itemsPerPage: 12, currentPage: page }"
                [userInput]="user" 

            ></app-user-item>
        </div>
        
    </div>
    <div class="page">
        <pagination-controls 
            (pageChange)="page = $event"
            previousLabel="Previous"
            nextLabel="Next">
        </pagination-controls>
    </div>
    
</div>
